

/* Dom classList methods in javascript */
/* React video */
/* Download button  */


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container{
    width: 350px;
    height: 80px;
    background-color: purple;
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
#content{
    color: white;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}
/* #content{
    background-color: red;
} */
a{
    outline: none;
    text-decoration: none;
    color: white;
}